<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>

    <header>
        <%- include('../partials/header.ejs') %>
    </header>

        <%- body %>

    <footer class="footer">
        <%- include('../partials/footer') %>
    </footer>
        
    <%- include('../elements/scripts') %>
</body>
</html>